{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
	<h1>Witajcie słuchacze "Innego Radia" oraz audycji "Co jest grane Panie Mariuszu?"</h1>
		
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
		
        {{ partial "social_icons.html" site.Params.socialIcons }}

		<h2>Specjalna świąteczna oferta wiedzy i unikatowa możliwość wsparcia Fundacji! <a href="https://audycje.com.pl/posts/dajmy-sobie-prezent-na-gwiazdk%C4%99/">->kliknij w link<-</a></h2>	
		<br>
	    
	    	<h2>Korzystając z naszej strony, zobowiązujesz się do przestrzegania Regulaminu. <a href="https://www.audycje.com.pl/regulamin">->kliknij w link<-</a></h2>
		<br>	    	
	    	
	    	<h2>Inne Radio Głuchołazy, 105.2 FM!</h2>
	   	<br>
 		<!---
		<audio controls="controls">
		<source src="http://stream4.nadaje.com:8386/test" type="audio/mpeg">
		</audio>
		
		Lokalnie działa, na serwerze juz nie
		--->
	    	<br>
		
		<h2>Podziękuj wolontariuszom pomagającym powstać tej stronie:</h2>
		<a href="https://www.paypal.com/donate/?hosted_button_id=UTYL7PUMRCQ48"><input type="image" src="/icons/paypal1.png" height="30" border="0"  alt="Wesprzyj za pomocą PayPal"></a>
		<a href="https://www.buymeacoffee.com/adrianjablo"><input type="image" src="/icons/coffee.png" height="30" border="0"   alt="Postaw mi kawę"></a>
		<br>
	    
    </footer>
</article>
{{- end -}}
