{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
		<center>
			<h1><a href="https://audycje.com.pl/posts/wsparcie/">-Wsparcie Fundacji-</a></h1>
			<h1><a href="https://www.youtube.com/@audycjecompl">-Kanał YouTube-</a></h1>
			<!--<h1><a href="https://open.spotify.com/show/08FcBlirC3jK86DzNfVC83">-Spotify-</a></h1>-->
		</center>
    </header>

    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
		<center>
        {{ partial "social_icons.html" site.Params.socialIcons }}
	    <h2>Inne Radio Głuchołazy, 105.2 FM!</h2>
		
		<audio controls="controls">
		<source src="https://stream4.nadaje.com:8387/inne" type="audio/mpeg">
		</audio>
		</center>
		  
    </footer>
</article>
{{- end -}}
